
//Color
$darkBlue: hsl(209, 23%, 22%); //dark mode element
$veryDarkBlue: hsl(207, 26%, 17%);  
$lightDarkBlue: hsl(200, 15%, 8%);
$darkGray: hsl(0, 0%, 52%);
$veryDarkGray: hsl(0, 0%, 98%) !default;
$white: hsl(0, 0%, 100%);

$font-sm: 0.875rem; //14px
$font-med: 1.125rem //18px
